* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*header*/
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.header { grid-area: 1 / 1 / 2 / 9; }
.logo { grid-area: 1 / 1 / 2 / 2; }
.titre { grid-area: 1 / 2 / 2 / 5; }
.boutons { grid-area: 1 / 5 / 2 / 6; }
  
.header {
    height: 250px;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.logo {
    display: flex;
}

.logo img {
    width: 400px;
    height: 250px;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.boutons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;   
}

.b1 {
    border: solid 2px black;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fff;
}

.parent {
    position: relative;
}
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
  
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
  
.popup-content h2 {
    margin-top: 0;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
}
  
.popup:target {
    visibility: visible;
    opacity: 1;
}
  
.popup:target .popup-content {
    transform: translate(-50%, -50%) scale(1);
}

textarea {
    resize: none;
}

p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    color: transparent;
    font-size: 0px;
}
p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 120px);
}
p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
p:nth-child(1) {
    font-weight: 300;
    animation: txt-appearance 0s 1s forwards;
}
p:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
}
p:nth-child(1) span::after {
    background: #00C6F1;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #222;
    }
}
/*fin header*/

/*barre nav*/

.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.nav { grid-area: 1 / 1 / 6 / 6; }
.route { grid-area: 1 / 1 / 2 / 2; }
.cross { grid-area: 1 / 2 / 2 / 3; }
.circuit { grid-area: 1 / 3 / 2 / 4; }
.compte { grid-area: 1 / 4 / 2 / 5; }
.panier { grid-area: 1 / 5 / 2 / 6; }

.nav {
    height: 50px;
    display: flex;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 58%, rgba(2,0,36,1) 100%);
}

.route {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.circuit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    color: #fff;
}

.compte {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    color: #fff;
}

.panier {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    color: #fff;
}
/*fin barre nav*/

/*footer*/

.parent3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.footer { grid-area: 1 / 1 / 2 / 6; }
.mentions { grid-area: 1 / 1 / 2 / 2; }
.contact { grid-area: 1 / 2 / 2 / 3; }
.reseaux { grid-area: 1 / 4 / 2 / 5; }
.paiement { grid-area: 1 / 5 / 2 / 6; }

.footer{
    height: 100px;
    background: rgb(164,44,245);
    background: linear-gradient(90deg, rgba(164,44,245,1) 0%, rgba(236,98,98,1) 50%, rgba(224,151,48,0.2945553221288515) 100%);
    display: flex;
    flex-wrap: wrap;
}

.mentions {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.reseaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paiement {
    align-items: center;
    justify-content: center;
    display: flex;
}

/*fin footer*/

/*contenu*/

.parent4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.contenu { grid-area: 1 / 1 / 4 / 6; }
.photo1 { grid-area: 1 / 1 / 2 / 3; }
.texte1 { grid-area: 1 / 4 / 2 / 6; }
.texte2 { grid-area: 2 / 1 / 3 / 3; }
.photo2 { grid-area: 2 / 4 / 3 / 6; }
.photo3 { grid-area: 3 / 1 / 4 / 3; }
.texte3 { grid-area: 3 / 4 / 4 / 6; }
.passions { grid-area: 1 / 3 / 4 / 4; }

.contenu {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #00d4ff, #ec6262);
}

.photo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: linear-gradient(45deg, #FF00FF, #00FFFF, #FF00FF);
    background-clip: text;
    -webkit-background-clip: text;
}


.photo2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.photo3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo3 img {
    height: 400px;
    width: 600px;
}

.texte3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.passions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}